<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel ="stylesheet" href="style//cssstyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Me Your Booms</title>
    </head>
    <header>
        <nav>Top Nav
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                <li><a href="/fireworks">Fireworks</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>Show Me Your Booms</h1>
        <h4>Contact</h4>
    </body>
    </footer>
        <nav>Bottom Nav<nav>
    </footer>
</html>