<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel ="stylesheet" href="style/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Me Your Booms</title>
    </head>
    <header>
        <nav id="topNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                    <li><a href="/user">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                <li><a href="/fireworks">Fireworks</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>Show Me Your Booms</h1>
        <section>
            <h4>Fireworks</h4>
            <ul id="master">
                <li>
                    <img src=/style/images/BluePinkYellow1.gif>
                    <span>Firework 1</span>
                </li>
                <li><img src="/style/images/YellowRedBlue1.gif">Firework 2</li>
                <li><img src="/style/images/GreenBlue1.gif">Firework 3</li>
            </ul>
            <ul id="master">
                <li><img src="/style/images/RedYellow1.gif">Firework 4</li>
                <li><img src="/style/images/GreenYellow1.gif">Firework 5</li>
                <li><img src="/style/images/WhiteYellow1.gif">Firework 6</li>
            </ul>
            <ul id="master">
                <li><img src="/style/images/BlueYellowSaturn1.gif">Firework 7</li>
                <li><img src="/style/images/BluePinkYellow1.gif">Firework 8</li>
                <li><img src="/style/images/GreenPink1.gif">Firework 9</li>
            </ul>
            <ul id="master">    
                <li><img src="/style/images/Finale.gif">Firework 10</li>
            </ul>
        </section>
        <section>
            
        </section>
    </body>
    </footer>
    <nav id="bottomNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
                <li><a href="/user">Profile</a></li>
                <li><a href="#">Logout</a></li>
            <li><a href="/fireworks">Fireworks</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    <nav>
    </footer>
</html>