<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel ="stylesheet" href="style/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Me Your Booms</title>
    </head>
    <header>
        <nav id="topNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/userProfile">Profile</a></li>
                <li><a href="/userShows">My Shows</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/fireworks">Fireworks</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>Show Me Your Booms</h1>
        <h3>Welcome to Show Me Your Booms!</h3>
        <img src='style/images/RedBlue1.gif' alt="Demo1">
        <p>Here you can <ul>
            <li>See a Demo of each firework</li>
            <li>Build a custom show using the demos</li>
            <li>Preview your custom built show</li>
            <li>Order your show or contract a specialist to setup your show for you</li>
        </ul>
        At Show Me Your Booms, you are in control. Build anything from small shows for a private event to large public shows for major holidays or parties.</p>
    </body>
    </footer>

    </footer>
</html>