<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel ="stylesheet" href="style/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Me Your Booms</title>
    </head>
    <header>
        <nav id="topNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/userProfile">Profile</a></li>
                <li><a href="/userShows">My Shows</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/fireworks">Fireworks</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>USER PROFILE</h1>
        <h1>User Shows</h1>

        <ul>
        <% userShows.forEach( el => { %>
                <li class='showName' data-id='<%=el._id%>'>
                    <span><%= el.showName %></span>
                    <span><%= el.fireworkID %></span>
                    <span class='del'> Delete </span>
                </li>
        <% }) %>    
        </ul>

        <form action="/userShows/createUserShow" method='POST'>
            <input type="text" placeholder="Show Name" name='showName'>
            <input type="text" placeholder="Firework by ID" name='fireworkID'>
            <input type="submit">
        </form>

        <script src="js/main.js"></script>
    </body>
</html>